.forgot-password-component-div {
    background-color: rgba(0, 0, 0, 0.04);
    height: 100%;
}

/* materials forgot-password card */
.forgot-password-card {
    width: 500px;
    min-height: 200px;
    max-height: 300px;
}

/* form height width */
.forgot-password-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

/* obtain full width of form for input */
.forgot-password-full-width {
    width: 100%;
}

.mat-card {
    padding: 0;
    border-radius: 0;
}

.forgot-password-form-content {
    padding: 10px;
}

.forgot-password-form-action-panel {
    padding: 0 10px 0 10px;
}

@media only screen and (max-width: 600px) {
    #company-logo {
        height: 30px;
        width: 100px;
    }

    .forgot-password-component-div {
        padding: 10px;
    }
}

.forgot-password-form a{
    text-decoration: none;
}