/* You can add global styles to this file, and also import other style files */

@import "~@ctrl/ngx-emoji-mart/picker";

html, body { height: 100%; }
body { margin: 0; font-family: Google Sans, "Helvetica Neue", sans-serif; overflow: hidden;}

button:focus {
    outline: none !important;
}

::-webkit-scrollbar {
    border-radius: 1000px;
    width: 3px;
    background-color: cornsilk;
}

::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background-color: rgba(0, 0, 0, 0.30);
}